  {% extends 'base.html' %}
  {% load static %} 

  {% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/threads-detail.css' %}"/>
  <script defer src="{% static 'js/thread-detail.js' %}"></script>
  {% endblock %}
  {% block content %}

    <div class="card-body">
      <div id="detail-box">
        <div class="upvote">
        <a href="#"><i class="fas fa-arrow-circle-up"></i></a>
        <a id="downvote" href="#"><i class="fas fa-arrow-circle-down"></i></a>

      </div>
        <div>
        <p class="text-muted">Posted by {{ thread.author }}</p>
      <h1>{% block title %} {{ thread.title }} {% endblock title %}</h1>
      <p class="card-text ">{{ thread.content | safe }}</p>
        <div class="thread-img">
          {% if thread.photo.url %}
            <img 
              src="{{thread.photo.url}}" 
              alt="A photo of {{thread.title}}"
              class="usr-img"
            >
          {% endif %}
        </div>
      </div>
      </div>

      <div class="thread-actions">
        {% if thread.user == request.user%}
        <h3>Add photo</h3>
        <p id="file-name"></p>
        <form 
          action="{% url 'add_photo' thread.id %}"
          enctype="multipart/form-data"
          method="POST"
        >
          {% csrf_token %}
          <div id="edit">
          <div id="images-upload">
          <label class="btn secondary"> Choose <i class="fas fa-image"></i> <input type="file" name="photo-file" id="file-input"></label>
          <button type="submit" class="btn submit"> Upload <i class="fas fa-cloud-upload-alt"></i></button>
        </div>
        </form>
        <div>
        <a href="{% url 'threads_update' thread.id  %}" class="btn warn"><i class="fas fa-edit"></i></a>
        <a href="{% url 'threads_delete' thread.id  %}" class="btn danger"><i class="fas fa-trash-alt"></i></a>
      </div>
    </div>
      </div>
      {% comment %} New markup below {% endcomment %}
        {% endif%}
  </div>

  {% endblock content %}