
nav{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: x-large;
  background-color: rgb(235, 235, 235);
  opacity: 80%;
  vertical-align: middle;
}

#signup{
  margin-left: 4%;
}

#home{
  color: rgb(255, 140, 0);
  padding-left: 3%;
  font-size: xx-large;
}
.logout{
  width: 15%;
  display: flex;
  flex-direction: row;
  padding-right: 2%;
  justify-content: space-between;
}

.btn {
  font-size: var(--font-l);
  padding: 8px 16px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  text-decoration: none;
  background-color: var(--button-bg);
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  margin-right: 10px;
}

.btn:hover {
  background-color: var(--button-bg-hover);
}

.submit {
  color: var(--submit);
  border-color: var(--submit);
  justify-content: flex-end;
}

.secondary {
  color: var(--secondary);
  border-color: var(--secondary);
}

.warn {
  color: var(--warn);
  border-color: var(--warn);
}

.danger {
  color: var(--danger);
  border-color: var(--danger);
}


.sign-up {
  display: flex;
  justify-content: center;
}