{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <title>Threads</title>
    <script src="https://kit.fontawesome.com/8d0c441ecb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block head %}
    {% endblock %}
  </head>
      <body>
          <nav>
              
                {% if user.is_authenticated %}
                  <a id="home" href="{% url 'threads_index' %}"><i class="fas fa-circle"> saadit</i></a>
                  <div class= "logout">
                  <a href="#"><i class="fas fa-comment"></i></a>
                  <a href="#"><i class="fas fa-bell"></i></a>
                  <a id= "logout" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a>
                </div>
                  {% else %}
                  <a id="signup" href="{% url 'signup' %}">Sign Up</a>
                  {% endif %}
                </div>
              </nav>
              {% block content %}
              {% endblock content %}
</body>
</html>




            {% comment %} <div class="col-3">
              <a href="javascript:{document.getElementById('{% url 'upvote' 
              thread.id %}').submit()}">
              <button class="btn btn-primary btn-lg btn- 
              block" name="btn1" value="upvote">
              <span class="oi oi-caret-top"> 
              </span> Upvote {{thread.votes_total }}</button></a> {% endcomment %}