{% extends 'base.html' %} 
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ thread.author }} | {{ thread.created_on }}</p>
        <p class="card-text ">{{ object.content | safe }}</p>
      </div>
    </div>
    <div class="thread-actions">
      <a href="{% url 'thread_update'  thread.slug  %}" class="btn warn">Edit</a>
      <a href="{% url 'thread_delete'  thread.slug  %}" class="btn danger">Delete</a>
    </div>
  </div>
</div>

{% endblock content %}